
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Let's Eat!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.css">
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Metrophobic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script
src="https://code.jquery.com/jquery-3.2.1.min.js"
integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="orange darken-2">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Let's Eat!</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down"></ul>
      </div>
    </nav>

  <%- body %>

      <footer class="page-footer orange darken-2">
        <div class="container">
          <div class="row">
            <div class="col s12 center-align">
              <a href="/"><img src="/images/logo.png" alt=""></a>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div style="width:80%; margin: 0 auto">
            &copy; 2017 Lauren Namba</div>
        </div>
      </footer>
    </body>
  </html>
