<div class="amber lighten-3">
  <div id="confirm" class="user_div">
    <div id="delete_image"></div>
    <h3 class="center-align">Thank you.</h3>

    <h4 class="center-align"><%= message %></h4>
    <a id="back" href="/"><button type="button" name="deleted" class="orange darken-4 btn waves-effect waves-light">Home</button></a>
  </div>
</div>  
